.zomato-trending-restaurant{
  border: 1px solid rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.zomato-app-bar{
  justify-content: space-between;
  padding-left: 0 !important;

}
.zomato-app-bar-title-menu{
  display: flex;
  align-items: center;
}
.zomato-trending-card-image{
  height: 200px;
  width: 400px;
}
.zomato-trending-cards{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 2%;
  margin: 5% 8%;
  height: 500px;
}
.zomato-trending-card-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
