.zomato-trending-restaurant{
  border: 1px solid rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.zomato-trending{
  margin-top: 80px;
}
.zomato-app-bar{
  justify-content: space-between;
  padding-left: 0 !important;
  background-color: white;
  color: black;
}
.zomato-trending-app-bar{
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}
.zomato-trending-app-bar header{
  height: 65px;
}
.zomato-app-bar-title-menu{
  display: flex;
  align-items: center;
}
.zomato-navbar-title-navlink{
  color: black;
}
.zomato-trending-card-image{
  height: 200px;
  width: 400px;
}
.zomato-trending-cards,.zomato-restaurant-search-cards{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 2%;
  margin: 5% 8%;
  height: 500px;
}
.zomato-trending-card-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.zomato-trending-card-content p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.zomato-trending-title{
  font-size: 2.5rem;
  margin: 2% 8%;
}
.zomato-trending-card-rating-button{
  color: white;
  font-size: small;
  padding: 2px 7px;
  border-radius: 4px;
}
.zomato-trending-card-footer{
  display: flex;
  justify-content: space-between;
}
.zomato-trending-app-bar-search{
  background-color: whitesmoke;
}
.zomato-search{
  margin-top: 80px;
}
.zomato-home{
  margin-top:80px;
}
.zomato-navbar-title{
  font-size: x-large;
  font-family: 'Lobster', cursive;
}
.navbar-logout{
  background: hsla(0,0%,62%,.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  background-color: transparent;
  border: none;
  width: 80px;
  height: 25px;
  outline: none;
  cursor: pointer;
}
.navbar-google-signin{
  margin: 0 !important;
}
.zomato-user-not-signedin{
  margin-top: 80px;
  text-align: center;
  font-family: 'lobster';
  font-weight: bolder;
  color: rgba(0,0,0,0.4)
}

.zomato-side-navbar{
  border-top: 1px solid rgba(0,0,0,0.1);
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 65px;
}
.zomato-side-navbar button{
  background: transparent;
  border: none;
  height: 50px;
  font-size: large;
  font-family: inherit;
  outline: none;
  cursor: pointer;
  padding-left:50px;
}
.zomato-side-navbar button:focus{
  background-color: rgb(0, 0, 0,0.1);
}
.zomato-bookings{
  display: flex;
  flex-direction: column-reverse;
}
.zomato-bookings-title{
  margin-top: 80px;
}
.zomato-bookings-card-image{
  height: 90%;
  width: 90%;
  background-position: center;
  background-size: cover;
  padding: 10px 10px;
  border-radius: 15px;
  object-fit: cover;
}

.zomato-bookings-card{
  display: grid;
  grid-template-columns: 25% 55% 20%;
  align-items: center;
  height: 200px;
  margin: 3% 10%;
  border: 1px solid rgb(0, 0, 0,0.1);
}

.zomato-bookings-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80%;
  width:90%;
}
/* .zomato-bookings-card-content section {
  margin: 15px;
} */
.zomato-bookings-card-title{
  font-family: inherit;
  font-size: x-large;
}
.zomato-bookings-card-submit{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 80%;
  width: 80%;
  justify-content: space-between;
}

.zomato-bookings-card-button{
  color: white !important;
  background-color: green !important;
}
.zomato-bookings-card-button:hover{
  background-color: rgb(2, 75, 2) !important;
}
.zomato-user-profile{
  display: flex;
  justify-content: center;
  margin: 7% 35%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  padding: 2% 1%;
  flex-direction: column;
}
.zomato-user-profile-avatar{
  position: relative;
}
.zomato-user-profile img{
  height: 200px;
  position: absolute;
  border-radius: 50%;
  left: 85px;
}
.zomato-user-profile-details{
  margin-top: 250px;
}
.zomato-user-profile-username{
  display: flex;
  font-size: xx-large;
  flex-direction: column;
  align-items: center;
}
/* .zomato-book-table-dialog-box{
  width: 500px;
} */
.zomato-book-table-dialog-box-select{
  width:200px;
}
.zomato-book-table-form{
  display: grid;
  grid-template-columns: 250px 103px;
  grid-gap: 50px;
  margin: 35px 0px;
}
.restaurant-quickview-close-button-container{
  display: flex;
  justify-content: flex-end;
  padding: 2%;
  cursor: pointer;
}
.restaurant-quickview-close-button{
  cursor: pointer;
}
.restaurant-quickview-image{
  height: 350px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 8px;
}
.restaurant-quickview-image-container{
  display: flex;
  justify-content: center;
  border-radius: 8px;
}
.restaurant-quickview-container{
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: flex-start;
  margin: 0% 5%;
}
.restaurant-quickview-content-title{
  font-size: xx-large;
}
.restaurant-quickview-content{
  padding: 0% 5%;
}
.restaurant-quickview{
  padding: 1% 10%;
}
.restaurant-quickview-description{
  margin: 0% 5%;
}
.fa-edit{
  text-align: -webkit-right;
  font-size: larger;
  color: rgba(0,0,0,0.7);
  cursor: pointer;
}